
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:white
  
}
a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  background-color: #280050;
  margin: 0 auto;

  border-bottom: 2px solid #f3f3f2;
  justify-content: space-around;
  z-index: 999;

}
.navbar h1 {
  color: white;
}
.navbar a {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
#intro .container-lg{
  padding: 100px;
}

#information .col-md-1 {
  flex: 0 0 auto;
}

#information .col-md-5 {
  order: 2;
}



#information .col-md-4 {
  order: -1;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
}

#information .col-md-8 {
  order: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#information .banner-image {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.custom-accordion {
  background-color: #250a3f; /* Set the desired background color */
}


.LinkAccordion{
  background-color: #a99bb8;
}
.custom-accordion a{
  background-color: #260049; /* Set the desired background color */
}

.accordion .item .accordion-header button{
    background-color: #8452b6;
    color: azure;

}